.elementor-7249 .elementor-element.elementor-element-573f75ff{--display:flex;--min-height:50vh;--margin-top:50px;--margin-bottom:50px;--margin-left:0px;--margin-right:0px;}/* Start custom CSS for container, class: .elementor-element-573f75ff */.trip-status-message {
    padding: none !important;
    background: none !important;
    border-left: none !important;
}/* End custom CSS */